/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 170%;
}

/* #endregion Commons */

/* #region debug */

.debug #site_header {
    height: 75px;
    background-color: palevioletred;
}

.debug #site_header .logo,
.debug #site_header .mobile_menu,
.debug #site_header .desktop_menu {
    border: 1px dotted black;
}

.debug #site_main {
    background-color: palegreen;
}

.debug #services [class^="col-"] {
    background-color: paleturquoise;
    border: 1px dashed black;
    height: 700px;
    padding: 1rem;
}

.debug .card {
    background-color: palegoldenrod;
    height: 100%;
    border: 1px dotted black;
}

.debug .card_text {
    height: 300px;
    background-color: red;
}

.debug .card_img {
    height: 200px;
    background-color: red;
}

.debug #planning {
    height: 2500px;
    background-color: blueviolet;
}

.debug .card {
    height: 700px;
}

.debug #site_footer {
    height: 250px;
    background-color: palegoldenrod;
}

.debug #testimonials {
    background-color: orange;
    height: 3100px;
}

.debug .img {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: red;
}

.debug #benefits {
    background-color: purple;
    height: 5000px;
}

.debug #about {
    height: 2000px;
    background-color: crimson;
}

.debug #about h1 {
    background-color: gold;
    height: 100px;
}

.debug #about p {
    height: 900px;
    background-color: yellowgreen;
}

.debug #get_started {
    height: 900px;
    background-color: hotpink
}

/* #endregion debug */

/* #region utilities */

:root {
    --rl-white: #FFFFFF;
    --rl-black: #000000;
    --rl-dark: #333333;
    --rl-light: #3f3e3e94;
    --rl-accent: #0084fd;
    --rl-soft-accent: #b5ddff;
    --rl-primary: #9792e4;
    --rl-warning: #fdc15f;
}

/* structure */

.container {
    max-width: 1152px;
    width: 85%;
    margin: auto;
    padding: 3rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 0 1rem;
}

.col-12 {
    width: 100%;
}

/* displays */

.d-block {
    display: block;
}

/* flex */

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

/* text */

.align-center {
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* images */

.img-fluid {
    max-width: 100%;
}

/* buttons */

.btn {
    display: inline-block;
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.btn-lg {
    padding: 0.35rem 3.5rem;
    border-radius: 25px;
}

.btn-xl {
    padding: 1rem 5rem;
    border-radius: 50px;
}

.btn-primary {
    background-color: var(--rl-primary);
    text-decoration: none;
    color: var(--rl-white);
}

/* #endregion utilities */


/** MOBILE FIRST **/


/* #region #site_header */

#site_header {
    background-color: var(--rl-accent);
    color: var(--rl-white);
    font-size: 1.1rem;
}

#site_header a {
    color: var(--rl-white);
}

#site_header a.btn {
    color: var(--rl-black);
}

#site_header .container {
    height: 100%;
    padding: 0;
}

#site_header .desktop_menu {
    display: none;
}

#site_header .logo,
#site_header .mobile_menu,
#site_header .desktop_menu {
    padding: 1rem 0;
}

/* #endregion #site_header */

/* #region #site_main */

/* #region services */
#services .row {
    /* padding: 2.5rem 0; */
    margin: 0 -1rem;
}

#services [class^="col-"] {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

#services .card {
    background-color: var(--rl-soft-accent);
    border-radius: 20px;
    padding: 1rem 1.5rem;
    height: 100%;
}

#services .card .card_text {
    font-weight: bold;
    color: var(--rl-light);
}

#services .card .card_text h2 {
    color: var(--rl-accent);
    margin: 1.5rem 0;
}

#services .card .card_text p {
    margin-bottom: 2rem;

}

#services .card .card_text .btn {
    font-size: 1.2rem;
    color: var(--rl-white);
    background-color: var(--rl-accent);
    letter-spacing: .15rem;
    max-width: 90%;
    padding: 0.75rem 2rem;
}

#services .card .card_img {
    text-align: center;
    padding-top: 2rem;
    line-height: 0;
    color: var(--rl-accent);
}

#services .card .card_img img {
    margin-bottom: -1rem;
}

#services .card>*:last-child {
    margin-top: 1rem;
}

/* #endregion services */

/* #region planning */

#planning {
    background-color: var(--rl-primary);
}

#planning .left {
    color: var(--rl-white);
}

#planning .right .card {
    background-color: var(--rl-white);
    border-radius: 45px;
    text-align: center;
}

#planning .row {
    /* padding: 3rem 0; */
    margin: 0 -2rem;
}

#planning [class^="col-"] {
    padding: 0 2rem;
}

#planning .card {
    height: 100%;
}

#planning .left .card h2 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
}

#planning [class^="col-"].right {
    margin-top: 2rem;
}

#planning .right .card {
    padding: 2rem 1rem;
}

#planning .right .card h2 {
    padding: 1rem 0;
}

#planning .right .card p {
    font-style: italic;
}

#planning .freccia {
    background-color: var(--rl-primary);
    border-radius: 50%;
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    color: var(--rl-black);
}

/* #endregion planning */

/* #region testimonials */


#testimonials [class^="col-"] {
    margin: 1rem 0;
}

#testimonials .row {
    padding-bottom: 4rem;
}

#testimonials header {
    padding-bottom: 2.5rem;
}

#testimonials header h1 {
    font-size: 2.5rem;
    padding: 2rem 0;
    line-height: 140%;
    color: var(--rl-primary);
}

#testimonials .card {
    background-color: var(--rl-primary);
    color: var(--rl-white);
    border-radius: 30px;
    padding: 2rem 1rem;
}

#testimonials .card p {
    padding: 1rem 0;
}

#testimonials .card .nat,
#testimonials .card .celia,
#testimonials .card .bob {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

#testimonials .nat {
    background-image: url("../img/testimonial1.jpg");
}

#testimonials .celia {
    background-image: url("../img/testimonial2.jpg");
}

#testimonials .bob {
    background-image: url("../img/testimonial3.jpg");
}

#testimonials .name {
    font-size: 1.5rem;
}

/* #endregion testimonials */

/* #region benefits */

#benefits {
    background-color: var(--rl-primary);
}

#benefits .row {
    margin: 0 -1rem
}

#benefits [class^="col-"] {
    padding: 1rem;
}

#benefits .container>h1 {
    color: var(--rl-white);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2.5rem;
    line-height: 130%;
}

#benefits .card {
    background-color: var(--rl-white);
    border-radius: 30px;
    padding: 2.5rem 2rem;
}

#benefits h1,
#benefits h2 {
    color: var(--rl-primary);
}

#benefits .card h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

#benefits .card h2 {
    padding-top: 2rem;
}

#benefits .card p {
    padding: 1.5rem 0;
    color: var(--rl-dark);
}

#benefits .card .btn {
    letter-spacing: 3px;
}

/* #endregion benefits */

/* #region about */

#about .container {
    padding: 3rem 0;
}

#about .row {
    padding-top: 2rem;
}

#about h1,
#about h2 {
    color: var(--rl-primary);
}

#about h1 {
    display: inline-block;
    font-size: 3rem;
    padding-bottom: 3rem;
}

#about h2 {
    font-size: 1.5rem;
}

#about .info p {
    line-height: 210%;
    font-size: 1.1rem;
}

#about .profile {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

#about .profile-image {
    position: relative;
    background-image: url(../img/about.jpg);
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    margin-bottom: 1.5rem;
}

#about .profile-image i {
    position: absolute;
    right: -15px;
    color: var(--rl-primary);
}

#about .profile h2 {
    margin-bottom: 1.5rem;
    line-height: 130%;
}

#about .profile .btn i {
    margin-right: 5px;
}

/* #endregion about */

/* #region get_started */

#get_started {
    background-color: var(--rl-primary);
}

#get_started h1 {
    font-size: 4rem;
    color: var(--rl-warning);
    padding: 2rem 0;
}

#get_started h2 {
    font-size: 1.75rem;
    line-height: 150%;
}

#get_started h3 {
    font-size: 1.15rem;
    font-weight: 100;
    color: rgb(223, 223, 223);
    letter-spacing: 2px;
}

#get_started p {
    line-height: 170%;
}

#get_started h2,
#get_started p,
#get_started .policies {
    color: var(--rl-white);
    padding: 1rem;
}


#get_started .btn {
    text-decoration: none;
    color: var(--rl-primary);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    letter-spacing: 2px;
}

#get_started .policies {
    line-height: 120%;
    font-size: 0.8rem;
}

#get_started .policies a {
    /* text-decoration: none; */
    color: var(--rl-white);
}


/* #endregion get_started */



/* #endregion #site_main */

/* #region #site_footer */

#site_footer {
    background-color: var(--rl-dark);
    color: var(--rl-white);
}

#site_footer .container {
    padding: 2rem 0;
}

#site_footer .top {
    /* padding-bottom: 4rem; */
    padding-bottom: 3rem;
}

#site_footer .bottom a {
    color: var(--rl-primary);
}

/* #endregion #site_footer */


/* Tablet media query */

@media screen and (min-width: 768px) {

    .text-md-left {
        text-align: left;
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .f-direction-row-md {
        flex-direction: row;
    }

    #services .card .card_text .btn {
        letter-spacing: 4px;
        max-width: 60%;
        padding: 0.75rem 2rem;
    }

    #services .img-fluid {
        display: block;
        max-width: 50%;
    }

    #planning .row {
        padding-top: 7rem;
    }

    #planning .left .card h2 {
        padding: 5rem 0;
        font-size: 3rem;
    }

    #planning .right .card p {
        padding: 0 2rem;
    }

    #testimonials header {
        padding-bottom: 1.5rem;
    }

    #testimonials .card {
        padding: 0rem 1rem;
    }

    #testimonials .card .testimonial-text {
        padding: 1.5rem;
    }

    #testimonials header h1 {
        padding-top: 1rem;
    }

    #about h1 {
        font-size: 5rem;
        padding: 3rem 0;
    }

    #about .info p {
        padding: 2rem 4rem 2rem 0;
    }

    #get_started .container,
    #site_footer .container {
        max-width: 500px;
    }

    #get_started h1 {
        font-size: 5rem;
        padding: 3rem 0;
    }

    #get_started h2 {
        font-size: 2.5rem;
    }

}

/* Desktop media query */

@media screen and (min-width: 1200px) {

    .col-lg-4 {
        width: calc(100% / 12 * 4);
    }

    .col-lg-6 {
        width: calc(100% / 12 * 6);
    }

    #site_header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    #site_header .mobile_menu {
        display: none;
    }

    #site_header .desktop_menu {
        display: block;
    }

    #site_header .desktop_menu a {
        margin-left: 2rem;
    }

    #site_main #services .get_demo {
        display: flex;
        justify-content: space-around;
    }

    #site_main #services .get_demo .card_img {
        align-self: end;
    }

    #site_main #services .get_demo .card_img img {
        display: inline-block;
        min-width: 80%;
    }

    .col-lg-6 {
        width: calc(100% / 12 * 6);
    }
    
    #planning .left img {
        padding-bottom: 10rem;
    }

    #planning .right {
        padding-top: 12rem;
    }
    
    #testimonials header h4,
    #testimonials p {
        font-size: 1.2rem;
    }

    #testimonials header h1 {
        font-size: 3rem;
    }

    
    #testimonials .card .nat, 
    #testimonials .card .celia,
    #testimonials .card .bob {
        width: 200px;
        height: 200px;
        margin: 2rem 3rem 2rem 1rem;
    }
    
    #benefits .container > h1 {
        font-size: 3rem;
    }

    #benefits .card h1 {
        font-size: 4rem;
    }


    #about .info p {
        font-size: 1.2rem;
    }

    #about h2 {
        font-size: 2.5rem;
    }

}