/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion Commons */


/* #region debug */

.debug #site_header {
    height: 75px;
    background-color: palevioletred;
}

.debug #site_header .logo,
.debug #site_header .mobile_menu,
.debug #site_header .desktop_menu {
    border: 1px dotted black;
}

.debug #site_main {
    height: 1500px;
    background-color: palegreen;
}

.debug #services [class^="col-"] {
    background-color: paleturquoise;
    border: 1px dashed black;
    height: 250px;
    padding: 1rem;
}

.debug .card {
    background-color: palegoldenrod;
    height: 100%;
}

.debug .card_text {
    height: 100px;
    background-color: red;
}

.debug .card_img {
    height: 100px;
    background-color: red;
}

.debug #site_footer {
    height: 150px;
    background-color: palegoldenrod;
}




/* #endregion debug */

/* #region utilities */

:root {
    --rl-white: #FFFFFF;
    --rl-black: #000000;
    --rl-dark: #333333;
    --rl-accent: #0084fd;
    --rl-soft-accent: #b5ddff;
    --rl-primary: #9792e4;
    --rl-warning: #fdc15f;
}

.container {
    max-width: 1152px;
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.col-12 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.btn {
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.35rem 1rem;
    border-radius: 15px;
}

.btn-lg {
    display: inline-block;
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.35rem 3.5rem;
    border-radius: 25px;
}

/* #endregion utilities */


/** MOBILE FIRST **/


/* #region #site_header */

#site_header {
    background-color: var(--rl-accent);
    color: var(--rl-white);
}

#site_header a {
    color: var(--rl-white);
}

#site_header a.btn {
    color: var(--rl-black);
}

#site_header .container {
    height: 100%;
}

#site_header .desktop_menu {
    display: none;
}

#site_header .logo,
#site_header .mobile_menu,
#site_header .desktop_menu {
    padding: 1rem 0;
}

/* #endregion #site_header */

/* #region #site_main */

/* #services */
#services .row {
    padding: 2.5rem 0;
    margin: 0 -1rem;
}

#services [class^="col-"] {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

#services .card {
    background-color: var(--rl-soft-accent);
    border-radius: 20px;
    padding: 0 2rem;
}

#services .card .card_text {
    line-height: 160%;
    font-weight: bold;
    /* text-align: center; */
}

#services .card .card_text h3 {
    color: var(--rl-accent);
    margin: 1.5rem 0;
}

#services .card .card_text p {
    margin-bottom: 2rem;
}

#services .card .card_text a {
    color: var(--rl-white);
    background-color: var(--rl-accent);
    letter-spacing: .15rem;
}

#services .card .card_img {
    text-align: center;
    padding-top: 1rem;
    line-height: 0;
    color: var(--rl-accent);
}

#services .card > *:last-child {
    margin-top: 1rem;
}

/* #endregion #site_main */

/* Tablet media query */

@media screen and (min-width: 768px) {

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    #services .card .btn-lg {
        display: block;
        max-width: 50%;
        padding: .25rem 1.5rem;
    }

    .img-fluid {
        display: block;
        max-width: 50%;
    }
}

/* Desktop media query */

@media screen and (min-width: 1200px) {

    #site_header .mobile_menu {
        display: none;
    }

    #site_header .desktop_menu {
        display: block;
    }

    #site_header .desktop_menu a {
        margin-left: 2rem;
    }
}